body{
    background-color: #1b1b1b;
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.cabeca{
    background-color: #0f0f0f;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo{
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    color: red;
    margin: 0;
}

.assistir{
    font-size: 80px;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    translate: calc(-40%);
}

.menu a{
    text-decoration: none;
    color: #b4b4b4;
    font-size: 18px;
    transition: 0.3s;
}

.menu a:hover{
    color: white;
}

.filme{
    width: 90%;
    margin: 60px auto;
    padding: 25px;
    border-radius: 15px;
    background: linear-gradient(180deg, #2a2a2a, #1f1f1f);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.movie{
    display: flex;
    gap: 30px;
    align-items: center;
}

.img{
    width: 45%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.info{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info h2{
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    margin-top: 0;
}

.sinopse{
    font-size: 20px;
    line-height: 1.7;
    color: #cfcfcf;
    margin-bottom: 25px;
}

.detalhes p{
    margin: 8px 0;
    font-size: 18px;
    color: #aaa;
}

.detalhes strong{
    color: white;
}

.trailer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.trailer h3{
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0 0 15px 0;
    color: #ffffff;
    letter-spacing: 1px;
    translate:calc(40%);
}

.video{
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
